# Python
__pycache__/
*.py[cod]

# Virtualenv
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Logs
*.log

# Odoo runtime
*.pid
*.rdb

# Coverage
.coverage
.pytest_cache/
.mypy_cache/

# Temporary
.DS_Store